.Logo {
  background: white;
  padding: .5rem;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
}

.Logo img {
  height: 100%;
}

@media (max-width: 499px) {
    .Logo {
      margin: 3rem 0;
  }
}